$primary_color: #4ecdc4;
$secondary_color: #f5a623;
$tertiary_color: #ffe66d;
$light_color: #f7fff7;
$dark_color: #292f36;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;

	&.light {
		background-color: $light_color;
	}

	&.dark {
		background-color: $dark_color;
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5rem;
	padding: 10px 40px;

	background-color: green;

	& > button {
		background-color: inherit;
		border: none;
		cursor: pointer;
		height: 80%;
		aspect-ratio: 1;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			&:hover {
				filter: drop-shadow(0px 0px 10px $light_color);
			}
		}
	}
}

main {
	display: flex;
	height: 100%;
	width: 100%;

	& > section {
		display: flex;
		flex-direction: column;
		height: 100%;

		&#event_container {
			flex: 2;
			background-color: blue;
		}

		&#planning_container {
			flex: 1;
			background-color: red;
		}

		& > div {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
