$primary_color: #4ecdc4;
$secondary_color: #f5a623;
$tertiary_color: #ffe66d;
$light_color: #f7fff7;
$dark_color: #292f36;

$base_gap: 10px;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;

	& h1 {
		font-size: 3rem;
	}

	& h2 {
		font-size: 2rem;
	}

	& h3 {
		font-size: 1.3rem;
	}

	&.light {
		background-color: $light_color;
		color: $dark_color;
		scrollbar-color: $secondary_color $light_color;

		& > dialog {
			background-color: $tertiary_color;
		}

		& :not(#planning_list) > .event {
			background-color: $tertiary_color;
			border-color: $secondary_color;
			border-style: solid;
			border-width: 1px;

			&.in_planning {
				border-width: 5px;
				border-style: double;
				box-shadow: 0px 0px 5px $dark_color;
			}
		}
	}

	&.dark {
		background-color: $dark_color;
		color: $light_color;
		scrollbar-color: $primary_color $dark_color;

		& :not(#planning_list) > .event {
			border-color: $primary_color;
			border-style: solid;
			border-width: 1px;

			&.in_planning {
				border-width: 5px;
				border-style: double;
				box-shadow: 0px 0px 5px $primary_color;
			}
		}
	}

	& > dialog {
		width: 40%;
		height: 60%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: inherit;
		color: inherit;

		&::backdrop {
			backdrop-filter: blur(10px);
		}

		& > #modal_content {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: $base_gap;
			padding: $base_gap * 2;
			width: 100%;
			height: 100%;

			& > button {
				position: absolute;
				right: 10px;
				top: 10px;
				padding: 5px 10px;
				background-color: $secondary_color;
				border-radius: 3px;

				&:hover {
					background-color: $tertiary_color;
				}
			}

			& > a {
				color: $secondary_color;
				font-size: 1.2rem;
			}
		}
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5rem;
	padding: 10px 40px;

	& > button {
		background-color: inherit;
		border: none;
		cursor: pointer;
		height: 80%;
		aspect-ratio: 1;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			&:hover {
				filter: drop-shadow(0px 0px 10px $light_color);
			}
		}
	}
}

@mixin media-max($media_max_width) {
	@media (max-width: $media_max_width) {
		& {
			@content;
		}
	}
}

main {
	display: flex;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	padding: $base_gap * 2;

	@include media-max(975px) {
		flex-direction: column;
		height: fit-content;
		overflow: scroll;

		& > section {
			height: fit-content;
		}
	}

	& > section {
		display: flex;
		flex-direction: column;
		align-items: center;

		&#event_container {
			flex: 3;
		}

		&#planning_container {
			flex: 2;
			background-color: $secondary_color;
			color: $dark_color;
			border-radius: 5px;

			& > div {
				scrollbar-color: $dark_color $secondary_color;
			}

			& .event {
				background-color: $tertiary_color;
				box-shadow: 0px 0px 5px $dark_color;
			}
		}

		& > div {
			display: flex;
			gap: $base_gap * 2;
			flex-wrap: wrap;
			justify-content: center;
			height: fit-content;
			padding: $base_gap * 2;
			overflow: scroll;

			& > .event {
				display: flex;
				justify-content: space-between;
				width: 30%;
				min-width: 250px;
				padding: $base_gap * 2;
				gap: $base_gap;
				flex-direction: column;
				border-radius: 5px;

				& > div:has(> button) {
					display: flex;
					flex-direction: column;
					gap: $base_gap / 2;

					& > button {
						padding: 5px 10px;
						border-radius: 3px;
						cursor: pointer;

						&.detail_btn {
							background-color: $primary_color;

							&:hover {
								background-color: $light_color;
							}
						}

						&.action_btn {
							background-color: $secondary_color;

							&:hover {
								background-color: $tertiary_color;
							}
						}
					}
				}
			}
		}
	}
}
